<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>extrahook</string>
	<key>CFBundleIdentifier</key>
	<string>com.qwooksi.extrahook</string>
	<key>CFBundleName</key>
	<string>extrahook</string>
	<key>CFBundleDisplayName</key>
	<string>extrahook</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSPrincipalClass</key>
	<string>UIApplication</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>continuous</string>
		<string>location</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<false/>
</dict>
</plist>
